body{
    background-color: burlywood;
}
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
#pagant{
    text-align: left;
}
#playlist{
    text-align: center;
}
iframe{
     display: block;
    margin: 0 auto;
}