div.bloco{
    background-image: url(imagens/wallpaper002.jpg);
    height: 200px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 20px;
}

div#q1{

    background-position: left top;

}

div#q2{

     background-position: left center;
    
}

div#q3{

     background-position: right bottom;
    
}

div#q4{

     background-position: center center;
    
}