body{
    background-color: black;
}


#container {
    background-image: url(imagens/target001.png);
    background-size: 100% 100%;
    position: relative;
    height: 93vh;
    padding: 10px;
    background-color: purple;

}

#conteudo{
    background-image: url(imagens/target001.png);
    background-size: 100% 100%;
    position: absolute ;
    background-color: yellow;
    height: 200px;
    width: 400px;

    left: 50%;
    top: 50%;

    transform: translate( -50% ,-50%);
}

/*
Alinhamento com flexbox:

#container {
    display: flex;
    justify-content: center;  centraliza na horizontal 
    align-items: center;      centraliza na vertical 
}

#conteudo {
    background-color: yellow;
    height: 200px;
    width: 400px;
    background-image: url(imagens/target001.png);
    background-size: 100% 100%;
}
*/