body{
    background-image: url(imagens/pattern003.png);
    background-size: 100px 100px;
    background-repeat:no-repeat ;
    /*
    background-repeat:repeat ;
    background-repeat:repeat-x ;
    background-repeat:repeat-y ;
    */

}