body{
   /* height: 97vh;
    background-color: black;
    background-image: url(imagens/wallpaper002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    /*
    ShortHand - background
    color - image - position - repeat - size - attachment
    */

    background: black url(imagens/wallpaper002.jpg) center center no-repeat fixed ;
    background-size: cover;


}

main{
    background-color: white;
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
    width:  400px;
    margin: auto;

}