*{
    font-family: Arial, Helvetica, sans-serif;

}

p{
    text-align: justify;
}

body{
    background-image:linear-gradient(to right, #D6D58E,#9FC131);
}

main{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    width: 600px;
    box-shadow: 5px 5px 15px #5c701c9e ;
}

h1{
    text-align: center;
    color: #005C53;
    text-shadow: 1px 1px 2px #48581699;
}

h2{
    color: #042940;

}

p{
    text-align: justify;
}