body{
    font-family: Arial, Helvetica, sans-serif;
   
}

table{
    width: 500px;
    border-collapse: collapse;
    position: relative;
}
caption{
    border: 1px solid black;
    padding: 10px;
    font-weight: bolder;
    background-color: lightgray;
    color: white;
    text-shadow: 1px 1px 1px black;
}
thead tr th {
    position: sticky;
    top: -1px;
    background-color: rgba(10, 10, 10, 0.685);
}
tbody tr:nth-child(odd){
    background-color: white;
}
tbody tr:nth-child(even){
    background-color: lightgray;
}
th{
    background-color: rgba(10, 10, 10, 0.685);
    color: white;
}
td,th{
    border: 1px solid black;
    padding: 7px;
    text-align: center;
}

.number{
    text-align: right;
}
.Estado{
    text-align: left;
    width: 200px;
}