body{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    
    width: 600px;
    border-collapse: collapse;
    font-weight: bolder;
}

td{
    border: 1px solid black;
    padding-left: 1em;


}
tr.grey{
    background-color: gray;
}