body{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    width: 500px;
    border-collapse: collapse;
}
th{
    background-color: rgba(156, 153, 153, 0.39);
}
td,th{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

.number{
    text-align: right;
}